img {
    width:400px;
    margin-top:70px;
}

.Header {
    border:5px solid  rgb(64, 224, 208);
    border-radius:30px;
    font-family: 'Ubuntu Mono', monospace;
    color:White;
    font-size:40px;
    margin-top:70px;
}
.containerClass {
    .projectClass {
        border:1px solid rgb(64, 224, 208);
        width:550px;
        height:350px;
        margin:auto;
        margin-top:50px;
        margin-bottom:50px;
        font-family: 'Ubuntu Mono', monospace;
        
    }
}