
img {
    width:400px;
    margin-top:70px;
    margin-right:90px;
}

.Header {
    border:5px solid  rgb(64, 224, 208);
    border-radius:30px;
    font-family: 'Ubuntu Mono', monospace;
    color:White;
    font-size:40px;
    margin-top:0px;
}
.containerClass {
    .projectClass {
        border:1px solid rgb(64, 224, 208);
        width:550px;
        height:350px;
        margin:auto;
        margin-top:50px;
        margin-bottom:50px;
        font-family: 'Ubuntu Mono', monospace;
        
    }
}  
.nav-item, a {
    color: white;
    font-size:17px;
    .nav-item, a:hover {
        color:white;
        font-size:25px;
    }
}

.navbar-brand {
    color:white;
    font-size:16.5px;
}

.navBar {
    display:flex;
    justify-content: center;
    margin-top:10px;
    font-family: 'Ubuntu Mono', monospace;
}

p {
    margin-top:14px;
    font-size:20px;
}

#home {
    color:deeppink;
    border:1px solid white;
    border-radius:50px;
    margin-left:12px;
    
}