.logContainer {
    border:3px solid yellow;
    border-radius:40px;
    width:500px;
    height:400px;
    display:flex;
    flex-direction:column;
    margin:auto;
    margin-top:170px;
    padding:20px;
    font-family: 'Ubuntu Mono', monospace;

    .usernameClass {
        border:2px solid yellow;
        width:300px;
        margin:10px;
        background-color: rgb(28, 30, 32);
        color: rgb(64, 224, 208);
    }

    .passwordClass {
        background-color: rgb(28, 30, 32);
        border:2px solid yellow;
        width:300px;
        margin:10px;
        color: rgb(64, 224, 208);
    }

    .submitClass {
        background-color: rgb(28, 30, 32);
        color:rgb(64, 224, 208);;
        border:2px solid rgb(64, 224, 208);
        width:150px;
        margin:10px;
        border-radius:20px;
        font-size:20px;
    }
}