.formContainer {
    border:3px solid deeppink;
    border-radius:40px;
    width:500px;
    height:400px;
    display:flex;
    flex-direction:column;
    margin:auto;
    margin-top:170px;
    padding:20px;

    .formItem {
        border:2px solid deeppink;
        width:300px;
        margin:10px;
        color:rgb(64, 224, 208);
    }

    .password {
        border:2px solid deeppink;
        width:300px;
        margin:10px;
        color:rgb(64, 224, 208);
    }

    .submitClass {
        border:1px solid rgb(64, 224, 208);
        width:150px;
        margin:10px;
        color:rgb(64, 224, 208);
        border-radius:20px;
        font-size:20px;
    }
}